/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --fundo-principal: #380061;
    --cor-fonte: #FFFFFF;
    --card-login: #1B002F; 
    --card-principal: #23003C;
    --btn-lateral-normal: #7334a4;
    --btn-lateral-clicado: #391c50;
}
/*ZERANDO MARGENS HTML E DEIXA O FOOTER NO FIM DA PÁGINA*/
body{
    margin: 0;
    padding: 0;
    background-color: var(--fundo-principal);
}

.container-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


.navbar-deslogado{
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
}
.divAviso{
    width: 240px;
    height: 70px;
    background-color: #424242;
    border-radius: 10px;
    display: flex;
    margin-top: 12px;
    
}
.h1{
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-fonte);
    margin: auto;  
}
.butoes{
    display: flex;
    
    margin-left: 52rem;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    a{
        display: flex;
        color: var(--cor-fonte);
    }
    h1{
        margin: auto;
        margin-right: 30px;
    }
    
}
.btn{
    padding-top: 1.5vh;
    padding-left: 5vh;
    padding-right: 1vh;
    padding-bottom: 1.5vh;
    border-radius: 10px;
    background-color: var(--btn-lateral-normal);
    border-color: var(--btn-lateral-normal);
}
.butoes button:hover{
    cursor: pointer;
    background-color: var(--btn-lateral-clicado);
    border-color: var(--btn-lateral-clicado);
    border-style: none;
}