/*VARIÁVEIS DE COR*/
:root{
    --fundo-principal: #380061;
    --cor-fonte: #FFFFFF;
    --card-login: #1B002F; 
    --card-principal: #23003C;
    --btn-lateral-normal: #7334a4;
    --btn-lateral-clicado: #391c50;
    --cards-adicionais: #1E1E1E;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--fundo-principal);
    
}
.sobre-podcast{
    display: flex;
    color: var(--cor-fonte);
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
}
.sobre-podcast img{
    width: 220px;
    height: 160px;
}
.sobre{
    margin-left: 10px;
    font-weight: lighter;
    text-align: justify;
    width: 800px;
    h3{
        margin: auto;
        margin-top: 4px;
        margin-bottom: 20px;
    }
    p{
        margin: auto;
        margin-top: 10px;
        font-size: 20px;
    } 
}  

.sobre-seguindo{
    display: flex;
}

.barra-branca-separadora{
    width: 1040px;
    height: 1px;
    background-color: #FFFFFF;
    margin-left: 28px;
    margin-top: 20px;
}

.eps-podcast{
    position: relative;
    overflow: hidden;
    margin-left: 32px;
    height: 540px;
    margin-top: 16px;
    overflow-y: auto;
    scrollbar-width: none;
}   

#btn-sininho{
    width: 24px;
    height: 24px;
    margin-left: 600px;
    align-self: center;
    background: none;
    border: none;
}
#btn-sininho:hover{
    cursor: pointer;
}
.svg-sininho{
    color: var(--cor-fonte);
    margin-left: -6.5px;
    margin-top: -1px;
}
.svg-sininho:hover{
    color: var(--btn-lateral-normal);
    transition: 300ms ease;
}
#btn-seguir{
    margin-left: 10px;
    align-self: center;
    background-color: var(--btn-lateral-normal);
    border-style: none;
    width: 100px;
    height: 32px;
    border-radius: 2px;
    color: var(--cor-fonte);
    font-family: 'Josefin Sans', sans-serif;
}
#btn-seguir:hover{
    background-color: var(--btn-lateral-clicado);
    transition: 300ms ease;
    cursor: pointer;
}
.card-ep{
    display: flex;
    margin-bottom: 20px;
    img{
        width: 220px;
        height: 160px;
    }
}
.button-container {
    margin-left: 40px;
    margin-top: 20px;
    button{
        height: 40px;
    }
}

.icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    transition: background-color 0.3s ease;
}

.icon-button:hover {
    background-color: var(--btn-lateral-clicado); 
}
.icon-button img {
    margin-top: 5px;
    max-width: 20px;
    max-height: 20px;
    display: block;
}
.info-ep{
    color: var(--cor-fonte);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    margin-left: 12px;
    text-align: justify;
    width: 700px;
    
    h3{
        margin: auto;
        margin-top: 4px;
        margin-bottom: 20px;
    }
    p{
        margin: auto;
        margin-top: 30px;
    } 
}  


#btn-play-ep{
    position: absolute;
    margin-top: -15px;
    margin-left: 90px;
    width: 32px;
    height: 32px;
}