/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*-------------------------------*/

/*VARIÁVEIS DE COR*/
:root{
    --fundo-principal: #380061;
    --cor-fonte: #FFFFFF;
    --card-login: #1B002F; 
    --card-principal: #23003C;
    --btn-lateral-normal: #7334a4;
    --btn-lateral-clicado: #391c50;
    --cards-adicionais: #1E1E1E;

}
/*ZERANDO MARGENS HTML E DEIXA O FOOTER NO FIM DA PÁGINA*/
body{
    margin: 0;
    padding: 0;
    background-color: var(--fundo-principal);
}

.container-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container-body main{
    flex: 1 1 0;
    border: 0;
}

/*NAVBAR*/

.navbar{
    display: flex;
    align-items:center;
}
.navbar .logo a{
    text-decoration: none;
    color: inherit;
}

.logo{
    display: flex;
    color: var(--cor-fonte);
    margin-left: 90px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    margin-bottom: 10px;
}
.logo img{
    margin-top: -10px;
}

.nav-icons{
    margin-left: 950px;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.nav-icons a{
    width: 50px;
    height: 50px;
}
.nav-icons button{
    all: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
.nav-icons a:not(:last-child){
    margin-right: 10px;
}
.icone-svg {
    width: 50px;
    height: 50px;
    color: var(--btn-lateral-normal); /* Cor inicial do ícone */
    transition: color 0.3s ease; /* Transição suave */
}
.icone-svg:hover {
    color: var(--btn-lateral-clicado); /* Cor quando o mouse passa por cima */
    /*color: #dcdcdc;*/
}
.icone-svg-busca{
    margin-top: 15px;
    width: 50px;
    height: 50px;
    color: var(--btn-lateral-normal); /* Cor inicial do ícone */
    transition: color 0.3s ease; /* Transição suave */
}

.profileCard{
    position: absolute;
    z-index: 2;
    background-color: var(--cards-adicionais);
    width: 200px;
    height: 210px;
    margin-left: 1250px;
    margin-top: 300px;
    display: none;
}
.profileCard li, a{
    text-decoration: none;
    list-style: none;
}
.profileCard ul{
    margin-left: -15px;
}
.profileCard a{
    color: var(--cor-fonte);
    font-family: "Josefin Sans", sans-serif;
}

.separa-barra{
    height: 1px;
    width: 200px;
    background-color: gray;
}

/*RODAPE*/

.links-rodape{
    display: flex;
    margin-left: 100px;
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-fonte);
}
.links-rodape a{
    text-decoration: none;
    color: var(--cor-fonte);
}
.links{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.links a:not(:last-child){
    margin-bottom: 17px;
}
.empresa{
    display: flex;
    flex-direction: column;
    margin-left: 155px;
    margin-bottom: 20px;
}
.empresa a:not(:last-child){
    margin-bottom: 17px;
}
.itens-rodape{
    display: flex;
    margin-top: 40px;
    margin-left: -45px;
}
.icons-rodape{
    margin-left: 780px;
    margin-top: 20px;
}
.icons-rodape img{
    width: 46px;
    height: 46px;
}
.icons-rodape a:not(:last-child){
    margin-right: 20px;
}
.icons-rodape p{
    margin-top: 40px;
    font-size: 24px;
}

/* MAIN */
.conteudo-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-lateral{
    height: 840px;
    width: 300px;
    background-color: var(--card-login);
    color: var(--cor-fonte);
    justify-items: center;
}
.card-lateral h2{
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
}
.card-lateral button{
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: var(--cor-fonte);
    border-style: none;
    width: 100px;
    height: 30px;
    border-radius: 8px;
}
.card-lateral button:hover{
    cursor: pointer;
}
#btnRecentes{
    background-color: var(--btn-lateral-clicado);
    margin-right: 10px;
}
#btnSeguindo{
    background-color: var(--btn-lateral-normal);
    margin-left: 10px;
}
.card-principal{
    height: 840px;
    width: 1100px;
    background-color: var(--card-principal);
    margin-left: 12px;
}
.card-principal h2{
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: var(--cor-fonte);
    margin-left: 32px;
}

.barra-branca{
    width: 240px;
    height: 1px;
    margin-top: 20px;
}
.containerRecentes{
    font-family: "Josefin Sans", sans-serif;
}
.containerSeguindo{
    font-family: "Josefin Sans", sans-serif;
}
.recentes img{
    margin-right: 4px;
    margin-left: 20px;
}
.recentes a{
    text-decoration: none;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
}
.recentes a:hover{
    background-color: var(--fundo-principal);
    transition: 250ms;
}
.info-card-recentes{
    padding-left: 10px;
}

.info-card-recentes h4{
    color: var(--cor-fonte);
}
.info-card-recentes p{
    margin-top: -10px;
    font-size: 16px;
    font-weight: 100;
    color: var(--cor-fonte);
}

.seguindo img{
    margin-right: 4px;
    margin-left: 20px;
    margin-top: 10.275px;
    margin-bottom: 10.275px;
}
.seguindo a{
    text-decoration: none;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
}
.seguindo a:hover{
    background-color: var(--fundo-principal);
    transition: 250ms;
}
.info-card-seguindo h4{
    color: var(--cor-fonte);
    margin-left: 5px;
}


/* CARD PRINCIPAL */
.carrosselRecentes{
    margin-top: -15px;
    margin-bottom: -40px;
    display: flex;
    margin-left: 32px;
    height: 200px;
}
.horizontal-scroll{
    margin-top: -20px;
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.horizontal-scroll .btn-scroll-recentes{
    background-color: rgba(156, 89, 207, 0.7);
    box-shadow: 0px 0px 10px #000;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin: 0px 5px;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 20px;
}
.horizontal-scroll .btn-scroll-recentes:hover{
    background-color: rgba(115, 52, 164, 1);
    transition: 300ms;
}
.recentes-container{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;
    position: absolute;
    left: 0;
    padding-top: 40px;
    padding-bottom: 20px;
}
.card-recentes{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 150px;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: left;
    border-radius: 50%;
}

.card-recentes img{
    border-radius: 10px;
    width: 200px;
    height: 150px;
}
.card-recentes h3{
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-fonte);
    margin-top: 4px;
}
.card-recentes p{
    font-size: 12px;
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-fonte);
    margin-top: -15px;
}
