/*VARIÁVEIS DE COR*/
:root{
    --fundo-principal: #380061;
    --cor-fonte: #FFFFFF;
    --card-login: #1B002F; 
    --card-principal: #23003C;
    --btn-lateral-normal: #7334a4;
    --btn-lateral-clicado: #391c50;
    --cards-adicionais: #1E1E1E;
}

.sobre-podcast{
    display: flex;
    /*margin-left: 32px;*/
    /*margin-right: 32px;*/
    color: var(--cor-fonte);
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
}
.sobre-podcast img{
    width: 220px;
    height: 160px;
}
.sobre{
    margin-top: -30px;
    margin-left: 10px;
    text-align: justify;
    width: 800px;
}
.sobre h3{
    margin-bottom: 30px;
}
.sobre p{
    font-weight: lighter;
    font-size: 20px;
}
.sobre-seguindo{
    display: flex;
}

.barra-branca-separadora{
    width: 1040px;
    height: 1px;
    background-color: #FFFFFF;
    margin-left: 28px;
}

.eps-podcast{
    margin-left: 32px;
}
.eps-podcast h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: var(--cor-fonte);
}
#btn-sininho{
    width: 24px;
    height: 24px;
    margin-left: 600px;
    align-self: center;
    background: none;
    border: none;
}
#btn-sininho:hover{
    cursor: pointer;
}
.svg-sininho{
    color: var(--cor-fonte);
    margin-left: -6.5px;
    margin-top: -1px;
}
.svg-sininho:hover{
    color: var(--btn-lateral-normal);
    transition: 300ms ease;
}
#btn-seguir{
    margin-left: 10px;
    align-self: center;
    background-color: var(--btn-lateral-normal);
    border-style: none;
    width: 100px;
    height: 32px;
    border-radius: 2px;
    color: var(--cor-fonte);
    font-family: 'Josefin Sans', sans-serif;
}
#btn-seguir:hover{
    background-color: var(--btn-lateral-clicado);
    transition: 300ms ease;
    cursor: pointer;
}
.card-ep{
    display: flex;
}
.info-ep{
    color: var(--cor-fonte);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    margin-left: 2vh;
}
.info-ep h4{
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 3vh;
}
.info-ep span{
    font-size: 3vh;
}
.info-ep p{
    font-size: 3vh;
    width: 90vh;
    text-align: justify;
    margin-bottom: -2vh;
}
.card-ep button{
    background: none;
    border: none;
    cursor: pointer;
}
#btn-play-ep{
    position: absolute;
    margin-top: -15px;
    margin-left: 90px;
    width: 32px;
    height: 32px;
}