/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*-------------------------------*/

/*VARIÁVEIS DE COR*/
:root{
    --fundo-principal: #380061;
    --cor-fonte: #FFFFFF;
    --card-login: #1B002F; 
    --card-principal: #23003C;
    --btn-lateral-normal: #7334a4;
    --btn-lateral-clicado: #391c50;
    --cards-adicionais: #1E1E1E;

}
/*ZERANDO MARGENS HTML E DEIXA O FOOTER NO FIM DA PÁGINA*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--fundo-principal);
    
}

.container-body{
    display: flex;
    flex-direction: column;

}
.container-body main{
    flex: 1 1 0;
    border: 0;
}

/*NAVBAR*/
.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.navbar .logo a {
    text-decoration: none;
    color: inherit;
}

.logo {
    display: flex;
    color: var(--cor-fonte);
    margin-top: 1.5vh; 
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    margin-left: 1vh;
}


.logo h1 {
    font-weight: lighter;
    font-size: 3vw; 
}

.logo img {
    margin-top: -1vh;
    width: 4vw; 
}

.nav-icons {
    display: flex;
    justify-content: center;
    margin-left: 61vw;
}

.nav-icons a {
    width: 4.5vw; 
    height: 4.5vw;
}
.nav-icons button {
    all: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: 1vw;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.nav-icons a:not(:last-child) {
    margin-right: 1vw;
}

.icone-svg {
    width: 4.2vw; 
    height: 4.2vw;
    color: var(--btn-lateral-normal);
    transition: color 0.3s ease;
}

.icone-svg:hover {
    color: var(--btn-lateral-clicado);
}

.icone-svg-busca {
    margin-left: 1vw;
    margin-top: 1.3vh;
    width: 3vw; 
    height: 3vw;
    color: var(--btn-lateral-normal); 
    transition: color 0.3s ease; 
}

.profileCard {
    position: absolute;
    z-index: 2;
    background-color: var(--cards-adicionais);
    width: 15vw; 
    margin-left: 70vw;
    margin-top: 40vh;
    display: none;
}

.profileCard li, a {
    text-decoration: none;
    list-style: none;
}

.profileCard ul {
    margin-left: -1vw;
}

.profileCard a {
    color: var(--cor-fonte);
    font-family: "Josefin Sans", sans-serif;
}

.separa-barra {
    height: 0.1vh; 
    width: 15vw; 
    background-color: gray;
}


/*RODAPE*/

.itens-rodape {
    margin-top: 2vh; 
}

.links-rodape {
    display: flex;
    justify-content: space-evenly;
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-fonte);
}

.links-rodape a {
    text-decoration: none;
    color: var(--cor-fonte);
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.links a:not(:last-child) {
    margin-bottom: 1.5vh; 
}

.empresa {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh; 
}

.empresa a:not(:last-child) {
    margin-bottom: 1.5vh; 
}

.icons-rodape {
    margin-left: 40vw; 
    margin-top: 5vh; 
}

.icons-rodape img {
    width: 3.5vw; 
    height: 3.5vw;
}

.icons-rodape a:not(:last-child) {
    margin-right: 2vw; 
}

.icons-rodape p {
    margin-top: 4vh; 
    font-size: 2vw; 
}


/* MAIN */
.conteudo-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-lateral {
    width: 20vw;  
    background-color: var(--card-login);
    color: var(--cor-fonte);
    justify-items: center;
    transition: transform 0.3s ease;
    margin-right: 1.5vh;
}

.card-lateral h2 {
    margin-top: 3vh;
    font-family: "Inter", sans-serif;
    font-size: 2vw; 
}

.card-lateral button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1vw; 
    color: var(--cor-fonte);
    border-style: none;
    width: 8vw; 
    height: 5vh; 
    border-radius: 1vh;
    margin-left: 0.5vw; 
    margin-right: 0.5vw;
}

.card-lateral button:hover {
    cursor: pointer;
}

#btnRecentes {
    background-color: var(--btn-lateral-clicado);
}

#btnSeguindo {
    background-color: var(--btn-lateral-normal);
}

.card-principal { 
    width: 70vw;  
    background-color: var(--card-principal);
    transition: transform 0.3s ease; 
}

.card-principal h2 {
    margin-top: 3vh; 
    font-family: "Inter", sans-serif;
    font-size: 2vw; 
    color: var(--cor-fonte);
    margin-left: 2vw;
}

.barra-branca {
    width: 15vw; 
    height: 0.2vh; 
    margin-top: 2vh;
}

.containerRecentes,
.containerSeguindo {
    font-family: "Josefin Sans", sans-serif;
}

.recentes img {
    margin-right: 0.5vw;
    margin-left: 1.5vw;
    height: 8vh;
    width: 5vw;
}

.recentes a {
    text-decoration: none;
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.recentes a:hover {
    background-color: var(--fundo-principal);
    transition: 250ms;
}

.info-card-recentes {
    font-size: 1vw;
    padding-left: 0.3vw;
}

.info-card-recentes h4 {
    color: var(--cor-fonte);
}

.info-card-recentes p {
    margin-top: -0.5vh;
    font-size: 1vw; 
    font-weight: 100;
    color: var(--cor-fonte);
}

.seguindo img {
    margin-right: 0.5vw;
    margin-left: 1.5vw;
    margin-top: 1.1vh;
    margin-bottom: 1.1vh;
    width: 4vw;
}

.seguindo a {
    text-decoration: none;
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.seguindo a:hover {
    background-color: var(--fundo-principal);
    transition: 250ms;
}

.info-card-seguindo h4 {
    color: var(--cor-fonte);
    margin-left: 0.3vw;
    font-size: 2vh;
}



/* CARD PRINCIPAL */
.carrosselRecentes {
    position: relative;
    overflow: hidden;
}

.horizontal-scroll {
    position: relative;
    margin-left: 5vw;
}

.recentes-container {
    display: flex;
    gap: 1.5vw; 
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    width: 62vw;
}

.card-recentes {
    flex: 0 0 auto;
    width: 13vw; 
}

.card-recentes img {
    border-radius: 0.63vw;
    width: 13vw;
    height: 20vh;
}

.card-recentes h3 {
    font-size: 1.09vw; 
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-fonte);
    margin-top: 0.4vh; 
}

.card-recentes p {
    font-size: 1.1vw; 
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-fonte);
    margin-top: -1.5vh; 
}
@media(max-width:800px){
    /* MAIN */
    .conteudo-main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card-lateral {
        display: none;
    }

    .card-lateral h2 {
        margin-top: 3vh;
        font-family: "Inter", sans-serif;
        font-size: 2vw; 
    }

    .card-lateral button {
        font-family: "Josefin Sans", sans-serif;
        font-size: 1vw; 
        color: var(--cor-fonte);
        border-style: none;
        width: 8vw; 
        height: 5vh; 
        border-radius: 1vh;
        margin-left: 0.5vw; 
        margin-right: 0.5vw;
    }

    .card-lateral button:hover {
        cursor: pointer;
    }

    #btnRecentes {
        background-color: var(--btn-lateral-clicado);
    }

    #btnSeguindo {
        background-color: var(--btn-lateral-normal);
    }

    .card-principal { 
        width: 97vw;  
        background-color: var(--card-principal);
        transition: transform 0.3s ease; 
    }

    .card-principal h2 {
        margin-top: 3vh; 
        font-family: "Inter", sans-serif;
        font-size: 2vw; 
        color: var(--cor-fonte);
        margin-left: 2vw;
    }

    .barra-branca {
        width: 15vw; 
        height: 0.2vh; 
        margin-top: 2vh;
    }

    .containerRecentes,
    .containerSeguindo {
        font-family: "Josefin Sans", sans-serif;
    }

    .recentes img {
        margin-right: 0.5vw;
        margin-left: 1.5vw;
        height: 8vh;
        width: 5vw;
    }

    .recentes a {
        text-decoration: none;
        width: 20vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .recentes a:hover {
        background-color: var(--fundo-principal);
        transition: 250ms;
    }

    .info-card-recentes {
        font-size: 1vw;
        padding-left: 0.3vw;
    }

    .info-card-recentes h4 {
        color: var(--cor-fonte);
    }

    .info-card-recentes p {
        margin-top: -0.5vh;
        font-size: 1vw; 
        font-weight: 100;
        color: var(--cor-fonte);
    }

    .seguindo img {
        margin-right: 0.5vw;
        margin-left: 1.5vw;
        margin-top: 1.1vh;
        margin-bottom: 1.1vh;
        width: 4vw;
    }

    .seguindo a {
        text-decoration: none;
        width: 20vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    }

    .seguindo a:hover {
        background-color: var(--fundo-principal);
        transition: 250ms;
    }

    .info-card-seguindo h4 {
        color: var(--cor-fonte);
        margin-left: 0.3vw;
        font-size: 2vh;
    }
    * CARD PRINCIPAL */
    .carrosselRecentes {
        position: relative;
        overflow: hidden;
        width: 100vw; 
    }

    .horizontal-scroll {
        position: relative;
        margin-left: 5vw;
    }

    .recentes-container {
        display: flex;
        gap: 5vw; 
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: thin;
        width: 87.5vw;
    }

    .card-recentes {
        flex: 0 0 auto;
        width: 13vw; 
    }

    .card-recentes img {
        border-radius: 0.63vw;
        width: 16vw;
        height: 16vh;
    }

    .card-recentes h3 {
        font-size: 1.09vw; 
        font-family: "Josefin Sans", sans-serif;
        color: var(--cor-fonte);
        margin-top: 0.4vh; 
    }

    .card-recentes p {
        font-size: 1.1vw; 
        font-family: "Josefin Sans", sans-serif;
        color: var(--cor-fonte);
        margin-top: -1.5vh;
    }

    /*RODAPE*/

    .itens-rodape {
        display: none;
    }

    .links-rodape {
        display: flex;
        justify-content: space-evenly;
        font-family: "Josefin Sans", sans-serif;
        color: var(--cor-fonte);
    }

    .links-rodape a {
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .links {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh;
    }

    .links a:not(:last-child) {
        margin-bottom: 1.5vh; 
    }

    .empresa {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vh; 
    }

    .empresa a:not(:last-child) {
        margin-bottom: 1.5vh; 
    }

    .icons-rodape {
        margin-left: 40vw; 
        margin-top: 5vh; 
    }

    .icons-rodape img {
        width: 3.5vw; 
        height: 3.5vw;
    }

    .icons-rodape a:not(:last-child) {
        margin-right: 2vw; 
    }

    .icons-rodape p {
        margin-top: 4vh; 
        font-size: 2vw; 
    }
    /*NAVBAR*/
    .navbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .navbar .logo a {
        text-decoration: none;
        color: inherit;
    }

    .logo {
        display: flex;
        color: var(--cor-fonte);
        margin-top: 1.5vh; 
        font-weight: 300;
        font-family: "Josefin Sans", sans-serif;
        align-items: center;
        margin-left: 1vh;
    }

    .logo h1 {
        font-weight: lighter;
        font-size: 3vw; 
    }

    .logo img {
        margin-top: -1vh;
        width: 4vw; 
    }

    .nav-icons {
        display: flex;
        justify-content: center;
        margin-left: 61vw;
    }

    .nav-icons a {
        width: 4.5vw; 
        height: 4.5vw;
    }
    .nav-icons button {
        all: unset;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: none;
        border-radius: 1vw;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
    }

    .nav-icons a:not(:last-child) {
        margin-right: 1vw;
    }

    .icone-svg {
        width: 4.2vw; 
        height: 4.2vw;
        color: var(--btn-lateral-normal);
        transition: color 0.3s ease;
    }

    .icone-svg:hover {
        color: var(--btn-lateral-clicado);
    }

    .icone-svg-busca {
        margin-left: 1vw;
        margin-top: 1.3vh;
        width: 3vw; 
        height: 3vw;
        color: var(--btn-lateral-normal); 
        transition: color 0.3s ease; 
    }

    .profileCard {
        position: absolute;
        z-index: 2;
        background-color: var(--cards-adicionais);
        width: 15vw; 
        margin-left: 70vw;
        margin-top: 40vh;
        display: none;
    }

    .profileCard li, a {
        text-decoration: none;
        list-style: none;
    }

    .profileCard ul {
        margin-left: -1vw;
    }

    .profileCard a {
        color: var(--cor-fonte);
        font-family: "Josefin Sans", sans-serif;
    }

    .separa-barra {
        height: 0.1vh; 
        width: 15vw; 
        background-color: gray;
    }
}
