{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "/podcast/css/podcast.css" %}">
    <link rel="stylesheet" href="{% static "/user/css/user.css" %}">
</head>
<body class="container-body">
    <header>
        <nav>
            {% block nav %}
            {% endblock %}
        </nav>
    </header>   

    <main>
        {% block main %}
        
        {% endblock %}
    </main>

    <footer>
        <div class="itens-rodape">
            <div class="links-rodape">
                <div class="links">
                    <h2>Links Úteis</h2>
                    <a href="">Politica de privacdade</a>
                    <a href="">Acessibilidade</a>
                    <a href="">Cookies</a>
                </div>
                <div class="empresa">
                    <h2>Empresa</h2>
                    <a href="">Sobre</a>
                    <a href="">Suporte</a>
                    <a href="">Aplicativo móvel</a>
                </div
            </div>
            <div class="icons-rodape">
                <a href=""><img src="{% static "/podcast/img/instagram.png" %}" alt=""></a>
                <a href=""><img src="{% static "/podcast/img/twitter.png" %}" alt=""></a>
                <a href=""><img src="{% static "/podcast/img/facebook.png" %}" alt=""></a>
                <p><span>&#169;</span> 2024 Ondacast</p>
            </div>
        </div>
    </footer>
    {% block js %}  
    {% endblock %}
</body>
</html>