{% extends 'podcast/base.html' %}
{% load static %}


{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seu Podcast</h2>

        <div class="barra-branca"></div>

        <div class="info-card-recentes">
           <a href = "{% url 'adicionar_episodio' %}"> <h4> Adicionar novo eposódio </h4> </a> 
        </div>

        <div class="info-card-recentes">
           <a href= "{% url 'estatisticas_criador' %}" ><h4>Verificar estatistícas</h4> </a>
        </div>

        <div class="info-card-recentes">
            <a href = "{% url 'index_criador' %}"> <h4> Página Inicial </h4> </a>
        </div>
    </div>

    <div class="card-principal">
        <h2>Talentos Extraordinários  <a href="#" style="color:rgb(143, 143, 143); text-decoration: none;">&#9998;</a> </h2>
    <div class="podcast-content">
        <div class="sobre-podcast">
            <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
            <div class="sobre">
                <div class="">
                    <h3>Sobre:</h3>
                    
                </div>
                <p>"Talentos Extraordinários" é um podcast que compartilha as histórias inspiradoras de programadores que alcançaram sucesso e reconhecimento na indústria da tecnologia. A cada episódio, o programa mergulha nas trajetórias de indivíduos que, por meio de suas habilidades técnicas e inovação, conseguiram transformar suas paixões em carreiras de destaque...  <a href="#" style="color:rgb(143, 143, 143); text-decoration: none;">&#9998;</a>  </p>
            </div>
        </div>

        <div class="barra-branca-separadora"></div>

        <div class="eps-podcast">
            <h3>Episódios:</h3>
            <div class="card-ep">
                
                <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
                <div class="info-ep">
                    <h4>O Poder de Servir  </h4>
                    <div class="info-ep-header">
                        
                        <span>12/12/2012 - 2H </span>
                        <button href="#" class="btn-deletar"> &#128465; </button>  
                    </div>
                    <p>"O Poder de Servir" é um conceito que explora a transformação pessoal e social que ocorre quando colocamos o serviço ao próximo no centro de nossas ações." </p>
                </div>  
            </div>
</div>

    </div>
        
    </div>
{% endblock %}