{% extends 'podcast/base.html' %}
{% load static %}


{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seus Interesses</h2>
        <button id="btnRecentes">Recentes</button>
        <button id="btnSeguindo">Seguindo</button>
        <div class="barra-branca"></div>
        <div class="containerRecentes">
            <div class="recentes">
                <a href="">
                    <img src="{% static "/podcast/img/talentos_extraordinarios.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Talentos Extraordinários</h4>
                        <p>Aluísio Rego</p>
                    </div>
                </a>
            </div>
            <div class="recentes">
                <a href="">
                    <img src="{% static "/podcast/img/mentes_inspiradoras.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Mentes Inspiradoras</h4>
                        <p>Com Aluísio Rego</p>
                    </div>
                </a>
            </div>
                        <div class="recentes">
                <a href="">
                    <img src="{% static "/podcast/img/neabi.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>NEABI</h4>
                        <p>Personalidades negras</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="containerSeguindo" style="visibility: hidden;">
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/podcast/img/aluisio_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>Aluísio Igor</h4>
                    </div>
                </a>
            </div>
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/podcast/img/momento_ifrn_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>Momento IFRN</h4>
                    </div>
                </a>
            </div>
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/podcast/img/neabi_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>NEABI</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="card-principal">

        <h2>Principais Temas</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                

                <div class="recentes-container">
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>


        <h2>Recomendado</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                

                <div class="recentes-container">
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                </div>
            </div>
        </div>

        <h2>Descubra</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                
                <div class="recentes-container">
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}
     
{% block javascript %}
    
{% endblock %}