{% extends 'podcast/base.html' %}
{% load static %}

{% block nav %}
<div class="navbar">
    <div class="logo">
        <a href="{% url 'index' %}"><h1>OndaCast</h1></a>
        <a href="{% url 'index' %}"></a><img src="{% static "/user/img/headphones.png" %}" alt=""></a>
        <div class="nav-icons">
            <a href=""><?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg class="icone-svg-busca" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.1" d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" fill="#dcdcdc"/>
                <path d="M15 15L21 21" stroke="#dcdcdc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#dcdcdc" stroke-width="2"/>
                </svg></a>
            <a href=""><?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg class="icone-svg" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title>ionicons-v5-j</title>
                    <path d="M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z" style="fill:#dcdcdc;stroke:#dcdcdc;stroke-miterlimit:10;stroke-width:32px"/>
                    <path d="M365.2,313c-16.33-19.34-27.86-27.47-27.86-80.8,0-48.86-25.78-66.23-47-74.67a11.39,11.39,0,0,1-6.34-6.68C280.29,138.6,269.88,128,256,128s-24.31,10.6-28,22.86a11.35,11.35,0,0,1-6.33,6.68c-21.24,8.46-47,25.8-47,74.67,0,53.33-11.54,61.46-27.87,80.8-6.77,8-.65,23,11.19,23H354C365.77,336,371.94,321,365.2,313Z" fill="currentColor"/>
                    <path d="M220.24,352a4,4,0,0,0-4,4.42C218.49,375.14,235.11,384,256,384c20.67,0,37.14-9.15,39.66-27.52a4,4,0,0,0-4-4.48Z" fill="currentColor"/></svg></a>
            <button id="btnProfile"><svg class="icone-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path opacity="1" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" fill="#dcdcdc"/>
                <path d="M16.807 19.0112C15.4398 19.9504 13.7841 20.5 12 20.5C10.2159 20.5 8.56023 19.9503 7.193 19.0111C6.58915 18.5963 6.33109 17.8062 6.68219 17.1632C7.41001 15.8302 8.90973 15 12 15C15.0903 15 16.59 15.8303 17.3178 17.1632C17.6689 17.8062 17.4108 18.5964 16.807 19.0112Z" fill="currentColor"/>
                <path d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3432 6 9.00004 7.34315 9.00004 9C9.00004 10.6569 10.3432 12 12 12Z" fill="currentColor"/>
            </svg></button>
        </div>
    </div>
    
    <div class="profileCard">
        <div class="link-profile-card">
            <ul>
                <li><a href="{% url 'perfil' %}">Conta</a></li>
            </ul>
            <ul>
                <li><a href="{% url 'configuracoes' %}">Configurações</a></li>
            </ul>
            <ul>
                <li><a href="">Favoritos</a></li>
            </ul>
            <ul>
                <li><a href="">Downloads</a></li>
            </ul>
            <div class="separa-barra"></div>
            <ul>
                <li><a href="{% url 'Login' %}">Sair</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seus Interesses</h2>
        <button id="btnRecentes">Recentes</button>
        <button id="btnSeguindo">Seguindo</button>
        <div class="barra-branca"></div>
        <div class="containerRecentes">
            <div class="recentes">
                <a href="">
                    <img src="{% static "/podcast/img/talentos_extraordinarios.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Talentos Extraordinários</h4>
                        <p>Aluísio Rego</p>
                    </div>
                </a>
            </div>
            <div class="recentes">
                <a href="">
                    <img src="{% static "/podcast/img/mentes_inspiradoras.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Mentes Inspiradoras</h4>
                        <p>Com Aluísio Rego</p>
                    </div>
                </a>
            </div>
                        <div class="recentes">
                <a href="">
                    <img src="{% static "/podcast/img/neabi.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>NEABI</h4>
                        <p>Personalidades negras</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="containerSeguindo" style="visibility: hidden;">
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/podcast/img/aluisio_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>Aluísio Igor</h4>
                    </div>
                </a>
            </div>
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/podcast/img/momento_ifrn_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>Momento IFRN</h4>
                    </div>
                </a>
            </div>
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/podcast/img/neabi_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>NEABI</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="card-principal">

        <h2>Principais Temas</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                <button class="btn-scroll-recentes" id="btn-scroll-left" onclick="scrollHorizontally(1)"><img src="{% static "/podcast/svg/chevron-left-svgrepo-com.svg" %}" alt=""></button>
                <button class="btn-scroll-recentes" id="btn-scroll-right" onclick="scrollHorizontally(-1)"><img src="{% static "/podcast/svg/chevron-right-svgrepo-com.svg" %}" alt=""></button>

                <div class="recentes-container">
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>


        <h2>Recomendado</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                <button class="btn-scroll-recentes" id="btn-scroll-left" onclick="scrollHorizontally(1)"><img src="{% static "/podcast/svg/chevron-left-svgrepo-com.svg" %}" alt=""></button>
                <button class="btn-scroll-recentes" id="btn-scroll-right" onclick="scrollHorizontally(-1)"><img src="{% static "/podcast/svg/chevron-right-svgrepo-com.svg" %}" alt=""></button>

                <div class="recentes-container">
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                </div>
            </div>
        </div>

        <h2>Descubra</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                <button class="btn-scroll-recentes" id="btn-scroll-left" onclick="scrollHorizontally(1)"><img src="{% static "/podcast/svg/chevron-left-svgrepo-com.svg" %}" alt=""></button>
                <button class="btn-scroll-recentes" id="btn-scroll-right" onclick="scrollHorizontally(-1)"><img src="{% static "/podcast/svg/chevron-right-svgrepo-com.svg" %}" alt=""></button>
                <div class="recentes-container">
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}
     
{% block javascript %}
    <script src="{% static "/podcast/js/podcast.js" %}"></script>
{% endblock %}