{% extends 'podcast/base.html' %}
{% load static %}

{% block nav %}

<link rel="stylesheet" href="{% static "/podcast/css/deslogada.css" %}">
<div class="navbar-deslogado">
    <div class="logo">
        <h1>OndaCast</h1>
        <img src="{% static "/podcast/img/headphones.png" %}" alt="">
    </div>
    <div class="butoes">
        <a href='cadastro'><h1>Inscreva-se</h1></a>
        <a href='login'><button class='btn'><h1>Entrar</H1></a></button>
    </div>
    
    
{% endblock %}

{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seus Interesses</h2>
        <button id="btnRecentes">Recentes</button>
        <button id="btnSeguindo">Seguindo</button>
        <div class="barra-branca"></div>
        <div class="containerRecentes">
            <div class="recentes">
                <h3>Faça login para ter acesso aos podcasts ouvidos recentemente.</h3>
            </div>  
        </div>
        <div class="containerSeguindo" style="visibility: hidden;">
            <h3>Faça login para ter acesso aos podcasts que está seguindo.</h3>
        </div>
    </div>
    <div class="card-principal" style="min-height: 132.5vh !important;">
        <h2>Principais Temas</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                
            
                <div class="recentes-container">
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    <div class="card-recentes">
                        <a href="{% url 'podcast_page' %}">
                            <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                            <h3>Talentos Extraordinários</h3>
                            <p>Aluísio Igor</p>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>


        <h2>Em Destaque</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                

                <div class="recentes-container">
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                </div>
            </div>
        </div>

        <h2>Descubra</h2>
        <div class="carrosselRecentes">
            <div class="horizontal-scroll">
                
                <div class="recentes-container">
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                    <div class="card-recentes">
                        <img src="{% static "/podcast/img/talentos_extraordinarios_principal.png" %}" alt="">
                        <h3>Talentos Extraordinários</h3>
                        <p>Aluísio Igor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static "/podcast/js/deslogado.js" %}"></script>
{% endblock %}
