{% extends 'podcast/base.html' %}
{% load static %}




{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seus Interesses</h2>
        <button id="btnRecentes">Recentes</button>
        <button id="btnSeguindo">Seguindo</button>
        <div class="barra-branca"></div>
        <div class="containerRecentes">
            <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/talentos_extraordinarios.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Talentos Extraordinários</h4>
                        <p>Aluísio Rego</p>
                    </div>
                </a>
            </div>
            <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/mentes_inspiradoras.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Mentes Inspiradoras</h4>
                        <p>Com Aluísio Rego</p>
                    </div>
                </a>
            </div>
                        <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/neabi.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>NEABI</h4>
                        <p>Personalidades negras</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="containerSeguindo" style="visibility: hidden;">
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/user/img/aluisio_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>Aluísio Igor</h4>
                    </div>
                </a>
            </div>
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/user/img/momento_ifrn_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>Momento IFRN</h4>
                    </div>
                </a>
            </div>
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/user/img/neabi_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>NEABI</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="card-principal">
        <h2>Talentos Extraordinários</h2>
        <div class="podcast-content">
            <div class="sobre-podcast">
                <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
                <div class="sobre">
                    <div class="sobre-seguindo">
                        <h3>Sobre:</h3>
                        <div></div>
                        <div class="btn-podcastpage">
                        <button id="btn-sininho"><?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg class="svg-sininho" width="2vw" height="4vh" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><title>ionicons-v5-j</title><path d="M427.68,351.43C402,320,383.87,304,383.87,217.35,383.87,138,343.35,109.73,310,96c-4.43-1.82-8.6-6-9.95-10.55C294.2,65.54,277.8,48,256,48S217.79,65.55,212,85.47c-1.35,4.6-5.52,8.71-9.95,10.53-33.39,13.75-73.87,41.92-73.87,121.35C128.13,304,110,320,84.32,351.43,73.68,364.45,83,384,101.61,384H410.49C429,384,438.26,364.39,427.68,351.43Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M320,384v16a64,64,0,0,1-128,0V384" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg></button>
                        <button id="btn-seguir">Seguir</button>
                    </div>
                    </div>
                    <p>"Talentos Extraordinários" é um podcast que compartilha as histórias inspiradoras de programadores que alcançaram sucesso e reconhecimento na indústria da tecnologia. A cada episódio, o programa mergulha nas trajetórias de indivíduos que, por meio de suas habilidades técnicas e inovação, conseguiram transformar suas paixões em carreiras de destaque...</p>
                </div>
            </div>
            <div class="barra-branca-separadora"></div>
        </div>
             <h2>Episódios:</h2>
            <div class="eps-podcast">
                <div class="card-ep">
                    <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
                   
                    <div class="info-ep">
                        <h3>O Poder de Servir</h3>
                        <span>12/12/2012 - 2H</span>
                        <p>"O Poder de Servir" é um conceito que explora transformação pessoal e social que ocorre quando colocamos o serviço ao próximo no centro de nossas ações."</p>
                    </div> 
                    <div class="button-container">
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/download(4).png' %}" alt="Baixar">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/play-button(2).png' %}" alt="Play">
                        </button>
                    </div> 
                </div>

                <div class="card-ep">
                    <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
                    <div class="info-ep">
                        <h3>O Poder de Servir</h3>
                        <span>12/12/2012 - 2H</span>
                        <p>"O Poder de Servir" é um conceito que explora a transformação pessoal e social que ocorre quando colocamos o serviço ao próximo no centro de nossas ações."</p>
                    </div>
                    <div class="button-container">
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/download(4).png' %}" alt="Baixar">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/play-button(2).png' %}" alt="Play">
                        </button>
                    </div>  
                </div>

                <div class="card-ep">
                    <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
                    <div class="info-ep">
                        <h3>O Poder de Servir</h3>
                        <span>12/12/2012 - 2H</span>
                        <p>"O Poder de Servir" é um conceito que explora a transformação pessoal e social que ocorre quando colocamos o serviço ao próximo no centro de nossas ações."</p>
                    </div> 
                    <div class="button-container">
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                    </div> 
                </div>
                
                <div class="card-ep">
                    <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
                    <div class="info-ep">
                        <h3>O Poder de Servir</h3>
                        <span>12/12/2012 - 2H</span>
                        <p>"O Poder de Servir" é um conceito que explora a transformação pessoal e social que ocorre quando colocamos o serviço ao próximo no centro de nossas ações."</p>
                    </div> 
                    <div class="button-container">
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                    </div> 
                </div>
                <div class="card-ep">
                    <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
                    <div class="info-ep">
                        <h3>O Poder de Servir</h3>
                        <span>12/12/2012 - 2H</span>
                        <p>"O Poder de Servir" é um conceito que explora a transformação pessoal e social que ocorre quando colocamos o serviço ao próximo no centro de nossas ações."</p>
                    </div> 
                    <div class="button-container">
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                    </div> 
                </div>
                <div class="card-ep">
                    <img src="{% static "/user/img/talentos_extraordinarios_principal.png" %}" alt="">
                    <div class="info-ep">
                        <h3>O Poder de Servir</h3>
                        <span>12/12/2012 - 2H</span>
                        <p>"O Poder de Servir" é um conceito que explora a transformação pessoal e social que ocorre quando colocamos o serviço ao próximo no centro de nossas ações."</p>
                    </div> 
                    <div class="button-container">
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                        <button class="icon-button">
                            <img src="{% static '/user/img/heart.png' %}" alt="Curtir">
                        </button>
                    </div> 
                </div>
            </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static "/user/js/user.js" %}"></script>
{% endblock %}