{% extends 'podcast/base.html' %}
{% load static %}

{% block navegar-home %}
<a href="{% url 'index' %}"><h1>OndaCast</h1></a>
<a href="{% url 'index' %}"></a><img src="{% static "/user/img/headphones.png" %}" alt=""></a>
{% endblock %}

{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seus Interesses</h2>
        <button id="btnRecentes">Recentes</button>
        <button id="btnSeguindo">Seguindo</button>
        <div class="barra-branca"></div>
        <div class="containerRecentes">
            <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/talentos_extraordinarios.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Talentos Extraordinários</h4>
                        <p>Aluísio Rego</p>
                    </div>
                </a>
            </div>
            <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/mentes_inspiradoras.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Mentes Inspiradoras</h4>
                        <p>Com Aluísio Rego</p>
                    </div>
                </a>
            </div>
                        <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/neabi.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>NEABI</h4>
                        <p>Personalidades negras</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="containerSeguindo" style="visibility: hidden;">
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/user/img/aluisio_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>Aluísio Igor</h4>
                    </div>
                </a>
            </div>
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/user/img/momento_ifrn_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>Momento IFRN</h4>
                    </div>
                </a>
            </div>
            <div class="seguindo">
                <a href="">
                    <img src="{% static "/user/img/neabi_seguindo.png" %}" alt="">
                    <div class="info-card-seguindo">
                        <h4>NEABI</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="card-principal">
       
         <h2>{{podcast.nome}}</h2>
       
        <div class="podcast-content">
            <div class="sobre-podcast"> 

            <img src="{% if podcast.foto %}{{ podcast.foto.url }}{% else %}{% static 'user/img/user-default.jpg' %}{% endif %}" alt="Foto do Podcast">
           
            <div class="sobre">
                <div class="">
                    <h3>Sobre:</h3>    
                </div>
                    <p>{{podcast.descricao}}</p>
                </div>   
            </div>
            <div class="barra-branca-separadora"></div>
        </div>
        <h2>Episódios:</h2>
        <div class="eps-podcast">
            {% for episodio in episodios %}
            <div class="card-ep">
                <img src="{{ episodio.capa.url }}" alt="Capa do episódio">
                <div class="info-ep">
                    <h3>{{ episodio.titulo }}</h3>
                    <span>{{episodio.data_publicacao}}</span>
                    <p>"{{ episodio.descricao }}"</p>
                </div>
                <div class="button-container">
                    <button class="icon-button">
                        <img src="{% static '/user/img/botao-play.png' %}" alt="Play"
                            onclick="changePlayer('{{ episodio.capa.url }}', '{{ episodio.titulo }}', '{{ episodio.descricao }}', '{{ episodio.arquivo_audio.url }}')">
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
              
        </div>
        <div class="play">
            <div class="play2">
                <div class="music-info">
                    <!-- Aqui a imagem e título do episódio serão atualizados -->
                    <img id="episodeCapa" src=""  style="width: 100px; height: auto;">
                    <div class="text-container">
                        <h3 id="episodeTitulo"></h3>
                        <p id="episodeDescricao"></p>
                    </div>
                </div>
        
                <div class="player-container">
                    <div class="controls">
                        <button onclick="rewindAudio()"> 
                            <img src="{% static 'podcast/svg/chevron-left-svgrepo-com.svg' %}" alt="Voltar">
                        </button>
                        <button id="playBtn" onclick="togglePlay()"> 
                            <img src="{% static 'podcast/svg/play-button-arrowhead-svgrepo-com(2).svg' %}" alt="Play">
                        </button>
                        <button id="pauseBtn" style="display:none;"> 
                            <img src="{% static 'podcast/svg/music-player-pause-button-svgrepo-com.svg' %}" alt="Pause">
                        </button>
                        <button onclick="forwardAudio()"> 
                            <img src="{% static 'podcast/svg/chevron-right-svgrepo-com.svg' %}" alt="Avançar">
                        </button>
                    </div>
                    <div class="progress-container">
                        <span id="currentTime">0:00</span>
                        <input type="range" id="seekBar" value="0" step="1">
                        <span id="duration">0:00</span>
                    </div>
                    <!-- O áudio será atualizado dinamicamente -->
                    <audio id="audioPlayer">
                        <source src="" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
        
        
        
    </div>
</div>

{% endblock %}

{% block javascript %}
     <script src="{% static "/podcast/js/favoritos.js" %}"></script>
    <script src="{% static "/podcast/js/play.js" %}"></script>
    <script src="{% static "/user/js/user.js" %}"></script>
{% endblock %}