/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/*-------------------------------*/

:root{
    --fundo-principal: #380061;
    --cor-fonte: #FFFFFF;
    --card-login: #1B002F; 
}

/* Estilização Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #380061; /* Cor de fundo da página */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Card de Login */
.card-login {
    background-color:#1B002F; /* Cor do card */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 350px;
}

.card-login h2 {
    color: #FFFFFF;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.logo h1{
    color: #FFFFFF;
}


/* Estilização do Formulário */
.form label {
    display: block;
    text-align: left;
    color: #CCCCCC;
    margin: 10px 0 5px;
    font-size: 14px;
}

.form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    background: none;
    color: white;
    font-size: 16px;
    outline: none;
}

.form input:focus {
    border-bottom-color: #E74C3C; /* Cor do destaque ao focar */
}

/* Botão de Login */
.form button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.form button:hover {
    background-color: #868686;
}

/* Links abaixo do botão */
.login-buttons {
    margin-top: 15px;
}

.login-buttons a {
    display: block;
    text-decoration: none;
    color: #CCCCCC;
    font-size: 14px;
    margin-top: 10px;
}

.login-buttons a:hover {
    color: white;
    text-decoration: underline;
}


