:root{
    --fundo-principal: #380061;
    --cor-fonte: #FFFFFF;
    --card-login: #1B002F; 
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--fundo-principal);
}

.container-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container-body main{
    flex: 1 1 0;
    border: 0;
}