/*ESTILIZAÇÃO DA PÁGINA DE PERFIL*/
.profile-img{
    justify-self: center;
    justify-items: center;
    margin-top: 8vh;
    width: 38vh;
    height: 38vh;
}
.profile-info{
    justify-items: center;
    width: 70vw;
}


.edit-profile-img button{
    position: absolute;
    margin-left: -18vh;
    margin-top: -36.4vh;
    border-radius: 50%;
    width: 17.1vw;
    height: 35.9vh;
    cursor: pointer;
    background: none;
    border-style: none;
}
.edit-profile-img button img{
    visibility: hidden;
}
.edit-profile-img button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms;
    transition-timing-function: linear;
}
.edit-profile-img button:hover img{
    visibility: visible;
    transition: 200ms;
    transition-timing-function: linear;
}
.alterar-foto{
    display: none;
    margin-top: -250px;
    position: absolute;
    background-color: #1E1E1E;
    width: 600px;
    height: 400px;
    margin-left: 240px;
    z-index: 2;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.alterar-foto #btnCloseAltFoto{
    display: inline-block;
    justify-self: end;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    margin-right: 0px;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background: none;
}
.alterar-foto #btnCloseAltFoto:hover{
    background-color: var(--btn-lateral-clicado);
    transition: 500ms;
}

.alterar-foto .info-alterar-foto{
    margin-top: -70px;
    justify-items: center;
    align-self: center;
}

.alterar-foto .info-alterar-foto h4{
    color: #999999;
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight:lighter;
}

.alterar-foto .info-alterar-foto #btn-selecionar-foto{
    border: none;
    background-color: var(--btn-lateral-normal);
    font-family: "Inter", sans-serif;
    color: var(--cor-fonte);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -10px;
}
.alterar-foto .info-alterar-foto #btn-selecionar-foto:hover{
    background-color: var(--btn-lateral-clicado);
    transition: 250ms;
}
.alterar-foto #btn-alterar-foto{
    border: none;
    width: 160px;
    height: 40px;
    margin-bottom: -100px;
    margin-top: 10px;
    justify-self: end;
    margin-right: 30px;
    background-color: var(--btn-lateral-clicado);
    border-radius: 2px;
    font-family: "Josefin Sans", sans-serif;
    color: var(--cor-fonte);
}
.alterar-foto #btn-alterar-foto:hover{
    background-color: var(--btn-lateral-normal);
    transition: 300ms;
}
.informacoes{

    input{
        background-color: var(--btn-lateral-clicado);
        border: none;
        border-radius: 1vh;
        width: 65vw;
        height: 7vh;
        font-family: "Josefin Sans", sans-serif;
        color: var(--cor-fonte);
        padding-left: 3vh;
        padding-top: 1vh;
        font-size: 2vh;
    }

    p{
        background-color: var(--btn-lateral-clicado);
        border: none;
        border-radius: 1vh;
        width: 65vw;
        height: 7vh;
        font-family: "Josefin Sans", sans-serif;
        color: var(--cor-fonte);
        padding-left: 3vh;
        padding-top: 1vh;
        font-size: 2vh;
    }
    h4{
        color: var(--cor-fonte);
        font-family: "Josefin Sans", sans-serif;
        margin-bottom: 0px;
        font-size: 3vh;
    }
}

.btn-salvar-dados{
    justify-self:end;
    margin-right: 100px;
}
.btn-salvar-dados button{
    background-color: var(--btn-lateral-clicado);
    color: var(--cor-fonte);
    font-family: "Josefin Sans", sans-serif;
    border: none;
    border-radius: 1vh;
    width: 12vw;
    height: 8vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
    margin-right: -10vh;
}
.btn-salvar-dados button:hover{
    background-color: var(--btn-lateral-normal);
    cursor: pointer;
    transition: 300ms;
}

.informacoes button #btn-eye{
    width: 16px;
    height: 16px;
    color: #fff;
}
#btn-eye{
    margin-left: -10vh;
    margin-top: 3vh;
    position: absolute;
    border: none;
    cursor: pointer;
    background: none;

}

#btn-editPerfil{
    margin-left: -5vh;
    margin-top: 2.9vh;
    position: absolute;
    border: none;
    cursor: pointer;
    background: none;
}
/*-------------------------------*/

/*---------------- TELA CONFIGURAÇÕES ----------------*/

/*CONFIGURAÇÕES - AUTOPLAY*/

.configs{
    display: flex;
    margin-left: 19px;
    margin-bottom: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.configs-btns{
    .btn-excluir-conta:last-child{
        margin-left: 20px;
    }
}

.configs button{
    cursor: pointer;
}
h3{
    font-size: 3vh;
    color: var(--cor-fonte);
    margin-top: 1vh;   
}
.configs p{
    width: 36vw;
    color: #999999;
    margin-top: -2vh;
}
.btn-check{
    margin-top: 48px;
    margin-left: 300px;
}

#check{
    display: none;
}
.switch{
    position: relative;
    background-color: #777;
    width: 60px;
    height: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: all .5 ease-in-out;
    cursor: pointer;
}
.slider{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all .5s ease-in-out;
}
#check:checked ~ .switch{
    background-color: blueviolet;
}
#check:checked ~ .switch .slider{
    transform: translateX(40px);
}

/*-------------------------------*/

/*CONFIGURAÇÕES - DOWNLOADS*/
.textos-configuracoes input{
    border-style: none;
    border-radius: 1vh;
    background-color: var(--btn-lateral-clicado);
    width: 43vw;
    height: 6vh;
    color: #999999;
    font-size: 2.4vh;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 2vh;
}
    .btn-downloads{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 60px;
    }
.btn-downloads button{
    border-style: none;
    margin-top: 10px;
    border-radius: 4px;
    height: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cor-fonte);
    background-color: var(--btn-lateral-clicado);
}
.btn-downloads button:hover{
    background-color: var(--btn-lateral-normal);
    transition: 300ms;
}

.btn-excluir-conta{
    margin-top: 60px;
}

.btn-excluir-conta button{
    border-style: none;
    border-radius: 8px;
    background-color: red;
    color: var(--cor-fonte);
    font-family: 'Josefin Sans', sans-serif;
    width: 100px;
    height: 40px;
}
.btn-excluir-conta button:hover{
    border: 0.2px solid white;
    border-radius: 8px;
}

.btn-criar-conta-criador{
    margin-top: 60px;

    button{
        border-style: none;
        border-radius: 8px;
        background-color: var(--btn-lateral-normal);
        color: var(--cor-fonte);
        font-family: 'Josefin Sans', sans-serif;
        width: 120px;
        height: 40px;
    }

    button:hover{
        border: 0.2px solid white;
        border-radius: 8px;
    }
}


/*-------------------------------*/

/*CARD EXCLUIR CONTA*/

.card-excluir-conta{
    display: none;
    position: absolute;
    background-color: #1E1E1E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    width: 600px;
    height: 400px;
    margin-top: -350px;
    margin-left: 240px;
    justify-items: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 2;
}
.card-excluir-conta button{
    cursor: pointer;
}
.card-excluir-conta ul{
    color: var(--cor-fonte);
    width: 300px;
    margin-top: 60px;
}
.card-excluir-conta li{
    margin-top: 36px;
}
.card-excluir-conta img p li{
    display: flex;
    flex-direction: row;
}
#excluir-conta{
    border-style: none;
    border-radius: 4px;
    background-color: red;
    font-family: 'Josefin Sans', sans-serif;
    width: 140px;
    height: 40px;
    margin-right: 10px;
    margin-top: 30px;
}
#excluir-conta a{
    color: var(--cor-fonte);
}
#excluir-conta:hover{
    border: 1px solid white;
}
#manter-conta{
    border-style: none;
    border-radius: 4px;
    background-color: var(--btn-lateral-clicado);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cor-fonte);
    width: 140px;
    height: 40px;
    margin-left: -19px;
    margin-top: 30px;

}
#manter-conta:hover{
    background-color: var(--btn-lateral-normal);
    transition: 300ms;
}

.ofuscado{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur(10px);
    z-index: 1;
}