{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "/user/css/logins.css" %}">
</head>
<body>
    <div class="card-login">
        <div class="logo">
            <h1><u>Onda Cast</u></h1>
            <img src="{% static "/user/img/headphones.png" %}" alt="">
        </div>
        <h2><u>Cadastro</u></h2>
        <class class="form">
            <form action="" method="post">
                <input type="text" name="nome_podcast" id="caixa-texto" placeholder="Nome do Podcast">
                <input type="text" name="email" id="caixa-texto" placeholder="Email/Usuário">
                <input type="text" name="password" id="" placeholder="Senha">
                <input type="text" name="password" id="" placeholder="Confirmar a senha">
            </form>
        </class>
        <class class="login-buttons">
            <a href="{% url 'editar_podcast' %}" id="btn-entrar">Cadastrar</a>

            <p>Já tem conta de criador?&nbsp;<a href="{% url 'login_criador' %}">Acessar conta</a></p>
        </class>
</body>
</html>