{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "/user/css/logins.css" %}">
</head>
<body>
    <div class="card-login">
        <div class="logo">
            <h1><u>Onda Cast</u></h1>
            <img src="{% static "/user/img/headphones.png" %}" alt="">
        </div>
        <h2><u>Cadastro</u></h2>
        <div class="form">
            <form method="post" action="{% url 'cadastrar' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="btn-entrar" type="submit">Cadastrar</button>
            </form>
        </div>
        {% if form.errors %}
            <div id="registerErrors">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="login-buttons">
            <p>Já tem conta?&nbsp;<a href="{% url 'Login' %}">Acessar conta</a></p>
        </div>
</body>
</html>