{% extends 'user/base.html' %}
{% load static %}

{% block nav %}
<div class="navbar">
    <div class="logo">
        <h1>OndaCast</h1>
        <img src="{% static "/user/img/headphones.png" %}" alt="">
    </div>
    <div class="nav-icons">
        <a href=""><img src="{% static "/user/img/search.png" %}" alt=""></a>
        <a href=""><img src="{% static "/user/img/heart.png" %}" alt=""></a>
        <a href=""><img src="{% static "/user/img/notificacao.png" %}" alt=""></a>
        <a href="" ><img src="{% static "/user/img/profile.png" %}" alt=""></a>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seus Interesses</h2>
        <button id="btnRecentes">Recentes</button>
        <button id="btnSeguindo">Seguindo</button>
        <div class="barra-branca"></div>
        <div class="containerRecentes">
            <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/talentos_extraordinarios.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Talentos Extraordinários</h4>
                        <p>Aluísio Rego</p>
                    </div>
                </a>
            </div>
            <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/mentes_inspiradoras.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>Mentes Inspiradoras</h4>
                        <p>Com Aluísio Rego</p>
                    </div>
                </a>
            </div>
                        <div class="recentes">
                <a href="">
                    <img src="{% static "/user/img/neabi.png" %}" alt="">
                    <div class="info-card-recentes">
                        <h4>NEABI</h4>
                        <p>Personalidades negras</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="containerSeguindo" style="visibility: hidden;">
            <p>CONTAINER SEGUINDO</p>
        </div>
    </div>
    <div class="card-principal">
        <h2>Principais Temas</h2>
    </div>
</div>
{% endblock %}
