{% extends 'user/base.html' %}
{% load static %}

{% block nav %}
<div class="navbar">
    <div class="logo">
        <h1>OndaCast</h1>
        <img src="{% static "/user/img/headphones.png" %}" alt="">
    </div>
    <div class="nav-icons">
        <a href=""><img src="{% static "/user/img/search.png" %}" alt=""></a>
        <a href=""><img src="{% static "/user/img/heart.png" %}" alt=""></a>
        <a href=""><img src="{% static "/user/img/notificacao.png" %}" alt=""></a>
        <a href="" ><img src="{% static "/user/img/profile.png" %}" alt=""></a>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seus Interesses</h2>
        <button id="btnRecentes">Recentes</button>
        <button id="btnSeguindo">Seguindo</button>
        <div class="barra-branca"></div>
        <div class="containerRecentes">
            <p>CONTAINER RECENTES</p>
        </div>
        <div class="containerSeguindo" style="visibility: hidden;">
            <p>CONTAINER SEGUINDO</p>
        </div>
    </div>
    <div class="card-principal">
        <h2>Principais Temas</h2>
    </div>
</div>
{% endblock %}
