{% extends 'user/base.html' %}
{% load static %}

{% block nav %}
<link rel="stylesheet" href="{% static "/user/css/inicial_deslogada.css" %}">
<div class="navbar">
    <div class="logo">
        <h1>OndaCast</h1>
        <img src="{% static "/user/img/headphones.png" %}" alt="">
    </div>
    <div class="nav-icons">
        
    </div>
    <div class="profileCard">
        <div class="link-profile-card">
            <ul>
                <li><a href="">Conta</a></li>
            </ul>
            <ul>
                <li><a href="">Configurações</a></li>
            </ul>
            <ul>
                <li><a href="">Downloads</a></li>
            </ul>
            <div class="separa-barra"></div>
            <ul>
                <li><a href="">Sair</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div class="conteudo-main">
    <div class="card-lateral">
        <h2>Seus Interesses</h2>
        <button id="btnRecentes">Recentes</button>
        <button id="btnSeguindo">Seguindo</button>
        <div class="barra-branca"></div>
        <div class="containerRecentes">
            <div class="recentes">
               <div class="divAviso">
                <p> Conecte-se para personalozar</p>
               </div>
            </div>  
        </div>
        <div class="containerSeguindo" style="visibility: hidden;">
           
        </div>
    </div>
    <div class="card-principal">
        <h2>Principais Temas</h2>
    </div>
</div>
{% endblock %}
