{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "/user/css/logins.css" %}">
</head>
<body>
    <div class="card-login">
        <div class="logo">
            <h1><u>Onda Cast</u></h1>
            <img src="{% static "/user/img/headphones.png" %}" alt="">
        </div>
        <h2><u>login</u></h2>
        <class class="form">
            <form action="" method="post">
                <input type="text" name="email" id="caixa-texto" placeholder="Email/Usuário">
                <input type="password" name="password" id="" placeholder="Senha">
            </form>
        </class>
        <class class="login-buttons">
            <a href="{% url 'index' %}" id="btn-entrar">Entrar</a>
            <a href="#">Esqueceu sua senha?</a>
            <a href="#">Acessar conta de desenvolvedor</a>
            <p>Não tem uma conta?&nbsp;<a href="{% url 'cadastro' %}">Criar conta</a></p>
        </class>
    </div>
</body>
</html>